*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: #2196f3;
}

header {
  position: relative;
  margin-top: 5px;
}

/* header image */
img[src*="-big-"] {
  cursor: pointer;
}

.trophy {
  color: yellow;
  font-size: 2em;
}

#openSidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 10px;
}

#championsCard {
  position: absolute;
  top: 0px;
  right: 0px;
}

#tablesDiv {
  overflow-x: auto;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  display: table;
  border: 1px solid #ccc;
  color: black;
  font-size: 1.2em;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

table th:hover {
  cursor: pointer;
  background-color: #ffeb3b;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table tr:nth-child(odd) {
  background-color: #fff;
}
table tr:nth-child(even) {
  background-color: #f1f1f1;
}

table td,
table th {
  padding: 8px 8px;
  display: table-cell;
  text-align: center;
  vertical-align: top;
}

table th:first-child,
table td:first-child {
  padding-left: 16px;
}

/*navbar*/
.navLogo:hover {
  cursor: pointer;
}

/*classes for teams page layout*/

.teamsLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto 50px 50px auto;
  grid-template-areas:
    "teamName teamName"
    "gameType gameType"
    "teamRecord teamRecord"
    "players teamColors"
    "seasonScoreboard playoffScoreboard"
    "notes notes";
  grid-gap: 10px;
  width: 50%;
}

.teamName {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: teamName;
}

.gameType {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: gameType;
}

.teamRecord {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: teamRecord;
}

.players {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  grid-area: players;
}

.teamColors {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  grid-area: teamColors;
}

.seasonScoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 125, 32);
  color: white;
  cursor: pointer;
  grid-area: seasonScoreboard;
}

.playoffScoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 150, 243);
  color: white;
  cursor: pointer;
  grid-area: playoffScoreboard;
}

.notes {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: notes;
}

/*end teams page layout*/

/* classes for game results display */

#scoreboardDiv > img {
  width: min(60%, 700px);
  max-height: 450px;
  object-fit: scale-down;
}

.gameResults {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-rows: repeat(3, 50px);
  grid-template-areas:
    "homeTeamLogo homeTeam homeScore gameResultsBox"
    "awayTeamLogo awayTeam awayScore gameResultsBox"
    "gameHighlights gameHighlights gameStats gameStats";
  grid-gap: 2px;
  width: 50%;
}

.homeTeamLogo,
.homeTeam,
.awayTeamLogo,
.awayTeam,
.homeScore,
.awayScore,
.gameResultsBox,
.gameHighlights,
.gameStats {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeTeamLogo {
  background-color: rgb(102, 121, 206);
  grid-area: homeTeamLogo;
}

.homeTeam {
  grid-area: homeTeam;
}

.awayTeamLogo {
  background-color: rgb(102, 121, 206);
  grid-area: awayTeamLogo;
}

.awayTeam {
  grid-area: awayTeam;
}

.homeScore {
  grid-area: homeScore;
}

.awayScore {
  grid-area: awayScore;
}

.gameResultsBox {
  grid-area: gameResultsBox;
}

.gameHighlights {
  background-color: rgb(21, 87, 83);
  color: white;
  cursor: pointer;
  grid-area: gameHighlights;
}

.gameStats {
  background-color: rgb(21, 87, 83);
  color: white;
  cursor: pointer;
  grid-area: gameStats;
}

/*end game results layout*/

/* gifs page */
.gifsHeaderContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40px;
  align-items: center;
  grid-template-areas: "gifsHomeTeam gifsHomeTeamScore gifsVsHeader gifsAwayTeamScore gifsAwayTeam";
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
}

.gifsHomeTeam {
  grid-area: gifsHomeTeam;
}
.gifsHomeTeamScore {
  grid-area: gifsHomeTeamScore;
  font-size: 2em;
}
.gifsVsHeader {
  grid-area: gifsVsHeader;
  font-size: 1.5em;
}
.gifsAwayTeamScore {
  grid-area: gifsAwayTeamScore;
  font-size: 2em;
}
.gifsAwayTeam {
  grid-area: gifsAwayTeam;
}

/*end gifs page*/

/* classes for boxscore page*/

/* boxscore header (team logos) */
.boxscoreTeamLogosContainer {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  width: 75%;
}

.boxscoreHomeTeamLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxscoreAwayLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end boxscore header */

/*  boxscore stats */
.boxscoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

.boxscoreHomeStats,
.boxscoreSeperator,
.boxscoreAwayStats {
  background-color: rgb(21, 87, 83);
  color: white;
  width: 33%;
  margin: 1px;
}

/* end boxscore page*/

/* classes for team colors display */

.teamColorsLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 70%;
  grid-template-areas:
    "teamColorsHeader teamColorsHeader"
    "teamColorsHomeContent teamColorsAwayContent";
  grid-gap: 5px;
  width: 75%;
  height: auto;
}

.teamColorsHeader {
  text-align: center;
  grid-area: teamColorsHeader;
}

.teamColorsHomeContent {
  display: flex;
  justify-content: center;
  grid-area: teamColorsHomeContent;
}

.teamColorsAwayContent {
  display: flex;
  justify-content: center;
  grid-area: teamColorsAwayContent;
}

.redBlue {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "red blue";
  grid-gap: 2px;
  width: 85%;
  height: auto;
}
.redBlue > div:hover {
  cursor: pointer;
}

.redBlue > .red {
  grid-area: red;
}

.redBlue > .blue {
  grid-area: blue;
}
