body {
  background-color: #2196f3;
}

header {
  position: relative;
  margin-top: 5px;
}

.trophy {
  color: yellow;
  font-size: 2em;
}

#openSidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 10px;
}

#championsCard {
  position: absolute;
  top: 0px;
  right: 0px;
}

#tablesDiv {
  overflow-x: auto;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  display: table;
  border: 1px solid #ccc;
  color: black;
  font-size: 1.2em;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

table th:hover {
  cursor: pointer;
  background-color: #ffeb3b;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table tr:nth-child(odd) {
  background-color: #fff;
}
table tr:nth-child(even) {
  background-color: #f1f1f1;
}

table td,
table th {
  padding: 8px 8px;
  display: table-cell;
  text-align: center;
  vertical-align: top;
}

table th:first-child,
table td:first-child {
  padding-left: 16px;
}

/*classes for teams page layout*/

.teamsLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto;
  grid-gap: 10px;
  width: 50%;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 125, 32);
  color: white;
  cursor: pointer;
  grid-row: 1/2;
  grid-column: 1/2;
  height: 50px;
}

.teamColors {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  grid-row: 1/2;
  grid-column: 2/3;
  height: 50px;
}

.notes {
  grid-row: 2/3;
  grid-column: 1/3;
  text-align: center;
}

/*end teams page layout*/

/* classes for game results display */
.navLogo:hover {
  cursor: pointer;
}

.gameResults {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50% 50%;
  grid-gap: 2px;
  width: 25%;
}

.homeTeam {
  grid-column: 1;
  grid-row: 1;
}

.awayTeam {
  grid-column: 1;
  grid-row: 2;
}

.homeScore {
  grid-column: 2;
  grid-row: 1;
}

.awayScore {
  grid-column: 2;
  grid-row: 2;
}
