@media screen and (max-width: 600px) {
  table {
    border: 0;
    width: 90%;
    color: #000;
    box-shadow: none;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 20px;
    display: block;
    border: 2px solid #ddd;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
      0 4px 20px 0 rgba(0, 0, 0, 0.19);
  }

  table td {
    display: block;
    height: 20px;
    text-align: right;
    font-size: 13px;
    cursor: pointer;
  }

  table tr td:nth-child(even) {
    background-color: #fff;
  }

  table tr td:nth-child(odd) {
    background-color: #f1f1f1;
  }

  table tr td:first-child {
    background-color: hsl(12, 62%, 67%);
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td::before {
    content: attr(data-field-name);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }

  tbody {
    line-height: 0.3 !important;
  }

  /* CLASSES FOR TEAM PAGE LAYOUT */

  .teamsLayout {
    grid-template-rows: auto auto auto 40px 40px auto;
    grid-gap: 10px;
    width: 90%;
    height: auto;
  }

  /* END TEAMS PAGE LAYOUT */

  /* classes for game results*/
  #scoreboardDiv > img {
    width: 100%;
    max-height: 60%;
  }
  .gameResults {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2px;
    width: 100%;
  }
  .gameHighlights {
    background-color: rgb(21, 87, 83);
    color: white;
    cursor: pointer;
    grid-area: gameHighlights;
    margin: 5px 0px;
  }

  .gameStats {
    background-color: rgb(21, 87, 83);
    color: white;
    cursor: pointer;
    grid-area: gameStats;
    margin: 5px 0px;
  }
  /* gifs page */
  .gifsHeaderContainer {
    grid-template-rows: 30px;
  }
  /*end gifs page*/

  /* boxscore page */
  .boxscoreTeamLogosContainer {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    width: 90%;
  }

  .boxscoreContainer {
    width: 100%;
    margin: auto;
  }

  .boxscoreHomeStats,
  .boxscoreSeperator,
  .boxscoreAwayStats {
    padding: 3px;
  }

  /* end boxscore */
  /* classes for team colors display */

  .teamColorsLayout {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
      "teamColorsHeader"
      "teamColorsHomeContent"
      "teamColorsAwayContent";
    grid-gap: 5px;
    width: 90%;
    height: auto;
  }

  .teamColorsHeader {
    text-align: center;
    grid-area: teamColorsHeader;
  }

  .teamColorsHomeContent {
    display: flex;
    justify-content: center;
    grid-area: teamColorsHomeContent;
  }

  .teamColorsAwayContent {
    display: flex;
    justify-content: center;
    grid-area: teamColorsAwayContent;
  }

  .redBlue {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "red blue";
    grid-gap: 2px;
    width: 85%;
    height: auto;
  }
  .redBlue > div:hover {
    cursor: pointer;
  }

  .redBlue > .red {
    grid-area: red;
  }

  .redBlue > .blue {
    grid-area: blue;
  }
}
