@media screen and (max-width: 992px) {
  #championsCard {
    position: relative;
  }

  table {
    border: 0;
    width: 90%;
    color: #000;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 20px;
    display: block;
    border: 2px solid #ddd;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
      0 4px 20px 0 rgba(0, 0, 0, 0.19);
  }

  table td {
    display: block;
    height: 20px;
    text-align: right;
    font-size: 13px;
    cursor: pointer;
  }

  table tr td:nth-child(even) {
    background-color: #fff;
  }

  table tr td:nth-child(odd) {
    background-color: #f1f1f1;
  }

  table tr td:first-child {
    background-color: hsl(12, 62%, 67%);
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td::before {
    content: attr(data-field-name);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }

  tbody {
    line-height: 0.3 !important;
  }
}
