@media screen and (max-width: 1200px) {
  #championsCard {
    position: relative;
    right: 0em
  }

  table {
    font-size: 1.1em;
    width: 60%;
  }

  table td:first-child img {
    display: none;
  }

  table td:nth-child(2){
    border-left: 1px solid white
  }

  table td:nth-child(2) img{
    height: 2.25rem;
    width: 2.25rem;
  }

  .gifContainer  > img {
    width: 75%;
  }
}
