<!-- Nhl94 players league -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache" />
    <title><%=htmlWebpackPlugin.options.title%></title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>
<body>
  <header class="w3-center w3-row w3-container">
    <!--nav Icon-->
    <div class="w3-button w3-yellow w3-large w3-card-4 w3-round-large" id="openSidebar">
      &#9776;
         <!--nav Sidbebar-->
  <div
  class="w3-sidebar w3-bar-block w3-border w3-card-4 w3-round-large w3-margin w3-blue w3-medium w3-border-orange"
  style="display: none"
  id="sidebar"
>
<!-- Home navigation -->
<div
id="home"
class="w3-bar-item w3-button w3-text-black w3-hover-orange"
>
Home
</div>
  <!-- Teams sidebar -->
  <div
    id="teamSidebar"
    class="w3-bar-item w3-button w3-text-black w3-hover-orange w3-"
  >
    Standings
  </div>
    <div
  href="#"
  class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="s05RegularSeason"
  >
  S05 Season
  </div>
      <div
  href="#"
  class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="s05PlayoffTree"
  >
  S05 Playoffs
  </div>
      <div
  href="#"
  class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="s05CombinedTable"
  >
  S05 Combined
  </div>
    <div
  href="#"
  class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="s04RegularSeason"
  >
  S04 Season
  </div>
    <div
  href="#"
  class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="s04PlayoffTree"
  >
  S04 Playoffs
  </div>
    <!-- <div
  href="#"
  class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="s04PlayoffTable"
  >
  S04 Playoffs Table
  </div> -->
    <div
  href="#"
  class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="s04CombinedTable"
  >
  S04 Combined
  </div>
    <div
  href="#"
  class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="s03RegularSeason"
  >
  S03 Season
  </div>
  <div
  href="#"
  class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="s03PlayoffTable"
  >
  S03 Playoffs
  </div>
  <div
href="#"
class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
id="s03CombinedTable"
>
S03 Combined
</div>
  <div
href="#"
class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
id="s02RegularSeason"
>
S02 Season
</div>
<div
href="#"
class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
id="s02PlayoffTree"
>
S02 Playoffs
</div>
<!-- <div
href="#"
class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
id="s02PlayoffTable"
>
S02 Playoffs Table
</div> -->
<div
href="#"
class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
id="s02CombinedTable"
>
S02 Combined
</div>
  <div
    href="#"
    class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
    id="s01RegularSeason"
  >
    S01 Season
  </div>
  <div
    href="#"
    class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
    id="s01PlayoffTree"
  >
    S01 Playoffs
  </div>
  <!-- <div
    href="#"
    class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
    id="s01PlayoffTable"
  >
    S01 Playoffs Table
  </div> -->
  <div
  href="#"
  class="teamTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="s01CombinedTable"
>
  S01 Combined
</div>
  <!-- end teams sidebar -->
  <!-- Player stats sidebar -->
  <div
    id="playerSidebar"
    class="w3-bar-item w3-button w3-text-black w3-hover-orange"
  >
    Player Stats
  </div>
  <div
  href="#"
  class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="allTimePlayerPointsTable"
>
  Players All Time Stats
</div>
<div
  href="#"
  class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="allTimePlayerSeasonTable"
>
  Players All Time Season
</div>
<div
href="#"
class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
id="allTimePlayerPlayoffTable"
>
Players All Time Playoffs
</div>
<div
href="#"
class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
id="s05PlayerSeasonTable"
>
S05 Player Season
</div>
<div
href="#"
class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
id="s05PlayerPlayoffTable"
>
S05 Player Playoffs
</div>
<div
href="#"
class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
id="s05PlayerCombinedTable"
>
S05 Player All Stats
</div>
<div
href="#"
class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
id="s04PlayerSeasonTable"
>
S04 Player Season
</div>
<div
href="#"
class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
id="s04PlayerPlayoffTable"
>
S04 Player Playoffs
</div>
<div
href="#"
class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
id="s04PlayerCombinedTable"
>
S04 Player All Stats
</div>
<div
href="#"
class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
id="s03PlayerSeasonTable"
>
S03 Player Season
</div>
<div
href="#"
class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
id="s03PlayerPlayoffTable"
>
S03 Player Playoffs
</div>
<div
  href="#"
  class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="s03PlayerCombinedTable"
>
  S03 Player All Stats
</div>
  <div
    href="#"
    class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
    id="s02PlayerSeasonTable"
  >
    S02 Player Season
  </div>
  <div
  href="#"
  class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="s02PlayerPlayoffTable"
>
  S02 Player Playoffs
</div>
  <div
  href="#"
  class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="s02PlayerCombinedTable"
>
  S02 Player All Stats
</div>
  <div
  href="#"
  class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
  id="s01PlayerSeasonTable"
>
  S01 Player Season
</div>
  <div
    href="#"
    class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
    id="s01PlayerPlayoffTable"
  >
    S01 Player Playoffs
  </div>
  <div
    href="#"
    class="playerTable w3-bar-item w3-button w3-text-black w3-hide w3-hover-orange"
    id="s01PlayerCombinedTable"
  >
    S01 Player All Stats
  </div>

  <!--end player stats sidebar -->
  <!--league records-->
  <div
  href="#"
  class="w3-bar-item w3-button w3-text-black w3-hover-orange"
  id="leagueRecords"
>
  Records
</div>
  <!--announcements-->
  <div
    href="#"
    class="w3-bar-item w3-button w3-text-black w3-hover-orange"
    id="announcements"
  >
    Announcements
  </div>
</div>
<!--end Sidebar-->
    </div>

    <!--header image-->
    <div class="w3-container" id="headerImg">
      <img src="<%= htmlWebpackPlugin.options.templateParameters.headerImage %>"
       alt="Haxball!" 
       class="w3-image" 
       />
    </div>
    <!--champions card-->
    <div id="championsCard">
      <div
        class="w3-card-4 w3-text-white w3-round-xlarge w3-padding-small w3-section w3-container"
        id="headerTeamName"
      >
      <!-- champions team icon will be inserted here via setHeaderBanner.js script -->
        <div id="trophyDiv" class="w3-container">
          <i class="fa fa-trophy trophy"></i>
        </div>
        <%= htmlWebpackPlugin.options.templateParameters.championsTeamName %>
      </div>
    </div>
  </header>
  <nav class="w3-container w3-center" id="teamsNavbar">
    <section
      class="w3-display w3-center w3-yellow w3-round-large"
      style="display: flex; justify-content: center; align-items: center; overflow: hidden"
    >
    </section>
  </nav>
  <!--display standings table-->
  <div
  class="w3-margin w3-container w3-round-large w3-section w3-center w3-yellow"
>
  <div
    id="tablesDiv"
  ></div>
  <div id="scoreboardDiv" class="w3-margin"></div>
</div>
<!--end display standings table-->
</body>
</html>